In [1]:
import pandas as pd
import plotly.express as px
import os

ROOT_DIR = 'Controls'

all_controls = os.listdir(f'{ROOT_DIR}')

volumeData = []
columns = ['Control', 'LabelValue', 'Volume', 'Mass']

# looping through all the files to get the labelValue and then Volume
# so we can build a dataframe with this data for further processing
for _file in all_controls:
    control_id = _file.split(".")[0][5:] # ex: s3571P
    
    # read the csv file into df
    df = pd.read_csv(f'{ROOT_DIR}/{_file}')
    
    df = df.drop(0)

    _filtered_df = df[['LabelValue', 'Volume', 'Mass']]
    _filtered_df['Control'] = control_id

    volumeData.append(_filtered_df)


# now we have all 
fullData = pd.concat(volumeData, axis=0)

fullData.to_csv('full_control_data.csv')

In [4]:
df = pd.read_csv('full_control_data.csv')

labelValues = df.LabelValue.unique()

meanValues = {
    'LabelValue': [],
    'MeanVolume': [],
    'MeanMass': [],
}

for val in labelValues:

    selected = df[df['LabelValue'] == val]
    meanValues['LabelValue'].append(val)
    meanValues['MeanVolume'].append(selected['Volume'].mean())
    meanValues['MeanMass'].append(selected['Mass'].mean())

meanValuesDf = pd.DataFrame(meanValues)

meanValuesDf.to_csv('all_controls_mean_values.csv')
meanValuesDf

    LabelValue   MeanVolume    MeanMass
0       1002.0   472.222222    7.903046
1       1003.0  2334.852941   61.818587
2       1005.0  1311.597222   27.038362
3       1006.0  1624.791667   26.986743
4       1007.0  5040.763889  153.421287
..         ...          ...         ...
57      2029.0  6485.902778  176.694987
58      2030.0  7016.597222  235.631141
59      2031.0  4005.902778  119.755424
60      2034.0   189.027778    2.622922
61      2035.0  1049.930556   18.690543

[62 rows x 3 columns]