In [1]:
import pandas as pd
import plotly.express as px

ttestDf = pd.read_csv('ttest_results.csv')

ttestDf

    Unnamed: 0  LabelValue  Statistics         p
0            0      1002.0    1.633779  0.110787
1            1      1003.0   -0.343542  0.733189
2            2      1005.0    0.383119  0.703824
3            3      1006.0    0.979788  0.333554
4            4      1007.0    1.561783  0.126853
..         ...         ...         ...       ...
57          57      2029.0   -1.171337  0.248952
58          58      2030.0   -0.654398  0.516903
59          59      2031.0   -0.286112  0.776388
60          60      2034.0    2.503432  0.016840
61          61      2035.0    0.742424  0.462518

[62 rows x 4 columns]

In [ ]:
# check of p is greater than alpha value (0.05)